#no-article {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
}

#no-article h1 {
  padding: 50px;
}
.card-footer a{
  background-color: #363636;
  border-color: #5650501f;
  color: #fff;
}