<!-- Section-->
<section class="py-5" *ngIf="articles.length != 0; else noArticle">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div class="col mb-5" *ngFor="let article of articles; let i = index">
        <div class="card h-100">
          <!-- Product image-->
          <!-- <img class="card-img-top" src="assets/img/product3.jpg" alt="..." /> -->
          <span>{{ getImage(i) }}</span>
          <img class="card-img-top" [src]="article.thumbnail" alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{ article.titre }}</h5>
              <!-- Product price-->
              <!-- $40.00 - $80.00 -->
              {{ article.prix }} DH
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" [routerLink]="['/productdetail',article.id]">More Detail</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #noArticle>
  <div id="no-article">
    <h1>No Article</h1>
  </div>
</ng-template>