<div class="signup-form">
	<form [formGroup]="form" (ngSubmit)="submit()" class="form-horizontal">
		<div class="row">
			<div class="col-8 offset-4">
				<h2>Admin Registration</h2>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-form-label col-4">Username</label>
			<div class="col-8">
				<input formControlName="username" id="username" type="text" class="form-control" name="text">
				<div *ngIf="f.username.touched && f.username.invalid" class="alert alert-danger">
					<div *ngIf="f.username.errors != null && f.username.errors.required"> userName is required
					</div>
				</div>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-form-label col-4">Name</label>
			<div class="col-8">
				<input formControlName="name" id="name" type="text" class="form-control" name="text">
				<div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
					<div *ngIf="f.name.errors != null && f.name.errors.required"> userName is required
					</div>
				</div>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-form-label col-4">Email Adress</label>
			<div class="col-8">
				<input formControlName="email" id="email" type="email" class="form-control" name="email">
				<div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
					<div *ngIf="f.email.errors != null && f.email.errors.required"> Email is required
					</div>
					<div *ngIf="f.email.errors != null && f.email.errors.email">email not valid
					</div>
				</div>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-form-label col-4">Password</label>
			<div class="col-8">
				<input formControlName="password" id="password" type="password" class="form-control" name="password">

				<div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
					<div *ngIf="f.password.errors != null && f.password.errors.required"> password is required
					</div>
				</div>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-form-label col-4">Confirm Password</label>
			<div class="col-8">
				<input formControlName="confirmpassword" id="confirmpassword" type="password" class="form-control" name="confirmpassword">
				<div *ngIf="f.confirmpassword.touched && f.confirmpassword.invalid" class="alert alert-danger">
					<div *ngIf="f.confirmpassword.errors != null && f.confirmpassword.errors.required"> You Should Conifrm Your Password
					</div>
				</div>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-form-label col-4">Phone Number</label>
			<div class="col-8">
				<input formControlName="phonenum" id="phonenum" type="text" class="form-control" name="phonenum">
				<div *ngIf="f.phonenum.touched && f.phonenum.invalid" class="alert alert-danger">
					<div *ngIf="f.phonenum.errors != null && f.phonenum.errors.required"> Phone Number is required
					</div>
					<div *ngIf="f.phonenum.errors != null && f.phonenum.errors.phoneNumberInvalid"> Phone Number is invalid , enter 10 numbers
					</div>
				</div>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-8 offset-4">
				<button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
			</div>
		</div>

	</form>

	<div class="text-center">Already have an account? <a routerLink="/login">Login here</a></div>
</div>