body {
  color: #999;
  background: #f3f3f3;
  font-family: 'Roboto', sans-serif;
}

.form-control {
  border-color: #eee;
  min-height: 41px;
  box-shadow: none !important;
}

.form-control:focus {
  border-color: rgb(39, 66, 219);
}

.form-control, .btn {
  border-radius: 3px;
}

.signup-form {
  width: 500px;
  margin: 0 auto;
  padding: 30px 0;
}

.signup-form h2 {
  color: rgb(39, 66, 219);
  margin: 0 0 76px -50px;
  display: inline-block;
  padding: 0 30px 10px 30px;
  border-bottom: 5px solid #7d9cf1;
  font-family: 'Brush Script MT', sans-serif;
  font-size: 4rem;
}

.signup-form form {
  color: #999;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0px 5px 5px rgba(7, 0, 112, 0.6);
  padding: 30px;
}

.signup-form .form-group row {
  margin-bottom: 20px;
}

.signup-form label {  
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.signup-form input[type="checkbox"] {
  position: relative;
  top: 1px;
}

.signup-form .btn {
  font-size: 16px;
  font-weight: bold;
  background: rgb(39, 66, 219);
  border: none;
  margin-top: 20px;
  min-width: 140px;
}

.signup-form .btn:hover, .signup-form .btn:focus {
  background: rgb(61, 107, 235);
  outline: none !important;
}

.signup-form a {
  color: rgb(39, 66, 219);
  text-decoration: underline;
}

.signup-form a:hover {
  text-decoration: none;
}

.signup-form form a {
  color: rgb(39, 66, 219);
  text-decoration: none;
}

.signup-form form a:hover {
  text-decoration: underline;
}

.form-group div.fchild {
  margin-right: 0;
  padding-right: 1px;
}

.form-group div.lchild {
  margin-left: 0;
  padding-left: 1px;
}