<div class="container contact">
        <div class="row">
        <div class="col-md-3">
                <div class="contact-info">
                    <h4 class = "stop">Stop & Shop!</h4>
                </div>
        </div>
        <div class="col-md-9">
            <div class="contact-form">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="fname">Product ID:</label>
                    <div class="col-sm-10">          
                    <input type="text" class="form-control" id="ProdId" placeholder="Enter Product ID" name="ProdId">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="lname">Product Name :</label>
                    <div class="col-sm-10">          
                        <input type="text" class="form-control" id="ProName" placeholder="Enter Product Name" name="ProName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="comment">Description:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="5" id="desc"></textarea>
                    </div>
                </div>
                <div class="form-group">        
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>