<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" routerLink="/home">Stop & Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active current" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active current" routerLink="/shop">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active current" routerLink="/dashboard" *ngIf="isAdmin">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active current" routerLink="/login" *ngIf="!isLoggedIn">SignIn</a>
        </li>
      </ul>
      <form class="d-flex">
        <!-- <button class="btn btn-outline-dark" routerLinkActive="active current" routerLink="/login" *ngIf="!isLoggedIn">
          SignIn
          <i class="bi bi-box-arrow-in-right"></i>
        </button>
       <button class="btn btn-outline-dark" routerLinkActive="active current" routerLink="/client/signup" *ngIf="!isLoggedIn">
          SignUp
          <i class="bi bi-box-arrow-in-right"></i>
        </button> -->

        <div class="btn-group" *ngIf="!isLoggedIn">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            SignUp
          </button>
          <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item" routerLink="/client/signup">as Client</a></li>
            <li><a class="dropdown-item" routerLink="/admin/signup">as Admin</a></li>
          </ul>
        </div>

        <button class="btn btn-outline-dark" routerLinkActive="active current" routerLink="/cart" type="submit" *ngIf="isClient">
          <i class="bi-cart-fill me-1"></i>
          Cart
          <span class="badge bg-dark text-black ms-1 rounded-pill">{{ panier }}</span>
        </button>

        <button class="btn btn-outline-dark log" (click)="logout()" *ngIf="isLoggedIn">
          Logout
          <i class="bi bi-box-arrow-in-right"></i>
        </button>
      </form>
    </div>
  </div>
</nav>