<div class="card mb-4">
  <div class="card-body">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12">
        <h2 class="pt-3 pb-4 text-center font-bold font-up deep-purple-text">Products Liste </h2>
        <div class="input-group md-form form-sm form-2 pl-0">
          <input class="form-control my-0 py-1 pl-3 purple-border" type="text" placeholder="Search something here..." aria-label="Search">
          <span class="input-group-addon waves-effect purple lighten-2" id="basic-addon1"><a><i class="fa fa-search white-text" aria-hidden="true"></i></a></span>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <!--Table-->
    <table class="table table-striped">
      <!--Table head-->
      <thead>
        <tr>
          <th>#ID</th>
          <th> Photo</th>
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
        <tr>
          <th scope="row">1</th>
          <th><img src="https://dummyimage.com/50x50/55595c/fff" /></th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td><a><i class="fa fa-edit blue-text" aria-hidden="true"></i></a>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <th><img src="https://dummyimage.com/50x50/55595c/fff" /></th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td><a><i class="fa fa-edit blue-text" aria-hidden="true"></i></a>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <th><img src="https://dummyimage.com/50x50/55595c/fff" /></th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td><a><i class="fa fa-edit blue-text" aria-hidden="true"></i></a>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <th><img src="https://dummyimage.com/50x50/55595c/fff" /></th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td><a><i class="fa fa-edit blue-text" aria-hidden="true"></i></a>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <th><img src="https://dummyimage.com/50x50/55595c/fff" /></th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td><a><i class="fa fa-edit blue-text" aria-hidden="true"></i></a>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <th><img src="https://dummyimage.com/50x50/55595c/fff" /></th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td><a><i class="fa fa-edit blue-text" aria-hidden="true"></i></a>
          </td>
        </tr>
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->
  </div>

  <product-create></product-create>


</div>