<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My CART</h1>
  </div>
</section>

<div class="container mb-4">
  <div class="row">
    <!-- [formGroup]="form" (ngSubmit)="submit()" -->
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"> </th>
              <th scope="col">Product</th>
              <th scope="col">Available</th>
              <th scope="col" class="text-center">Quantity</th>
              <th scope="col" class="text-right">Price</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let panier of paniers; let i = index">
              <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
              <td>{{ panier.article.titre }}</td>
              <td>
                <span *ngIf="panier.article.stock >= 1">In</span>
                <span *ngIf="panier.article.stock <= 1">Out of</span>
                <span> stock</span>
              </td>
              <td><input class="form-control" type="text" [(ngModel)]="panier.quantite" (change)="update(i)" onkeydown="event.keyCode===13 && this.blur();" /></td>
              <td class="text-right">{{ panier.article.prix }} Dh</td>
              <td class="text-right">
                <button class="btn btn-sm btn-danger" (click)="delete(panier.id)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong>Total</strong></td>
              <td class="text-right"><strong>{{ total }} Dh</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col mb-2">
      <div class="row">
        <div class="col-sm-12  col-md-6">
          <button class="btn btn-block btn-light" routerLink="/shop">Continue Shopping</button>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <button class="btn btn-lg btn-block btn-success text-uppercase" routerLink="/checkout">Checkout</button>
        </div>
      </div>
    </div>
  </div>
</div>