<!-- Product section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="assets/logo/Nike.jpg" alt="..." /></div>
      <div class="col-md-6 f">
        <h1 class="display-5 fw-bolder">{{ article.titre }}</h1>
        <div class="fs-5 mb-5">
          <span class="text-decoration-line-through">{{ article.prix+discount | number : '1.2-2' }} </span>
          <span> - </span>
          <span> {{ article.prix }}</span>
        </div>
        <p class="lead" *ngIf="article.description; else description">
          {{ article.description }}
        </p>
        <div class="d-flex" *ngIf="role == 'USER'">
          <input class="form-control text-center me-3" id="inputQuantity" type="number" style="max-width: 4rem" min="1" [(ngModel)]="quantity" />
          <button class="btn btn-outline-dark flex-shrink-0" type="button" (click)="addToCart()">
            <i class="bi-cart-fill me-1"></i>
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #description>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?
</ng-template>