<div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first">
      <img src="assets/logo/shopp.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="form" (ngSubmit)="submit()">

      <input formControlName="Loginuser" id="Loginuser" type="text" class="fadeIn second" name="login" placeholder="Enter your Login" [(ngModel)]="username">

      <div *ngIf="f.Loginuser.touched && f.Loginuser.invalid" class="alert alert-danger">
        <div *ngIf="f.Loginuser.errors != null && f.Loginuser.errors.required"> Login is required
        </div>
      </div>

      <input formControlName="passworduser" type="password" id="passworduser" class="fadeIn third" name="password" placeholder="Enter your password" [(ngModel)]="password">

      <div *ngIf="f.passworduser.touched && f.passworduser.invalid" class="alert alert-danger">
        <div *ngIf="f.passworduser.errors != null && f.passworduser.errors.required"> Password is required
        </div>
      </div>

      <input type="submit" class="fadeIn fourth" value="Sign In">

    </form>


  </div>
</div>