<div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first">
      <img src="assets/logo/shopp.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="form" class="wrapper" (ngSubmit)="submit()">

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input  matInput formControlName="Loginuser" placeholder="Enter your username" type="text"
            autocomplete="off" [(ngModel)]="username" required/>
      </mat-form-field>

    

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="passworduser" type="password"  
        name="password" placeholder="Enter your password" [(ngModel)]="password" required/>
      </mat-form-field>

      
      <button mat-raised-button color="primary" type="submit">Log in</button>

    </form>


  </div>
</div>


